<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Light data</h4>
  </div>
  <table class="table table-bordered small">
    <tr>
      <th style="width: 150px;">Created at</th>
      <td><%= data.created_at %></td>
    </tr>
    <tr>
      <th>Lumen</th>
      <td><%= data.lumen %> lx</td>
    </tr>
  </table>
</div>