<ol class="breadcrumb">
  <li><%= link_to '<i class="fa fa-puzzle-piece"></i> Human intelligence tasks'.html_safe, hits_path %></li>
  <li><%= link_to "HIT No. #{@hit.id}", hit_path(@hit) %></li>
  <li class="active"> Publish</li>
</ol>
<%= render :partial => "side_navigation" %>

<div class="col-lg-9">
  <div class="alert-message alert-message-danger">
    <h4>Warning</h4>
    <p>Are you sure you want to publish this human intelligence task, i.e. send response request to devices in CrowdCloud?</p>
    <%= link_to '<i class="fa fa-check"></i> Yes I\'m sure'.html_safe, publish_hit_path(@hit), :class => "btn btn-default", :method => :post %>
  </div>
</div>