<ol class="breadcrumb">
  <li><%= link_to '<i class="fa fa-puzzle-piece"></i> Human intelligence tasks'.html_safe, hits_path %></li>
  <li><%= link_to "HIT No. #{@hit.id}", hit_path(@hit) %></li>
  <li class="active"> Edit</li>
</ol>
<%= render :partial => "side_navigation" %>

<div class="col-lg-9">
  <%= render :partial => 'form' %>
</div>

