<ol class="breadcrumb">
  <li><%= link_to "Sensing tasks", sensing_tasks_path %></li>
  <li><%= link_to @sensing_task.name, sensing_task_path(@sensing_task) %></li>
  <li class="active"> Devices</li>
</ol>
<%= render :partial => "side_navigation" %>

<div class="col-lg-9">
  <div class="alert alert-info" role="alert">
    <h4>
      <i class="fa fa-exclamation-triangle"></i> Information
    </h4>
    <p>
      Page is under development!
    </p>
  </div>
</div>