<ol class="breadcrumb">
  <li><%= link_to '<i class="fa fa-puzzle-piece"></i> Human intelligence tasks'.html_safe, human_intelligence_tasks_path %></li>
  <li class="active">New human intelligence task</li>
</ol>
<%= render :partial => 'form' %>
