/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.devise-body {
  padding-top: 50px;
  padding-bottom: 40px;
  height: 100%;
  background-color: #eee;
}
html {
  height: 100%; 
}
body {
  padding-bottom: 40px;
}
.gray-background {
  background-color: #eee;
}
.white-background {
  background-color: white;
}
.drop-shadow {
  box-shadow: rgba(0, 0, 0, 0.3) 8px 8px 8px;
}
.form-signin {
  max-width: 400px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.shared-links {
  margin-top: 10px;
}
.center-text-align {
  text-align: center;
}
.logo {
  text-align: center;
  margin-bottom: 10px;
}
#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -30px;
}
#footer {
  height: 50px;
}
.version {
  padding-top: 15px;
  color: #888888  ;
}
.footer-label {
  padding-right: 20px;
}
.thin-border {
  border-style: solid;
  border-width: 1px;
  border-color: #C8C8C8;
}
.page-title {
  margin-bottom: 40px;
}
td.narrow-cell {
  width: 30px;
}
.label-cell {
  width: 200px;
  text-align: right;
}
ul.unindent-list{
  list-style-type: none; 
  padding: 0px; 
  margin-left: 0px;
}
td.high-cell {
  height: 100px;
}
.breadcrumb>li+li:before {
  color: rgba(204, 204, 204, 1); 
  content: "\276F\00a0";
}
.list-group-item.active {
  background-color: #444444;
  border-color: #444444;
}.list-group-item.active:hover {
  background-color: #444444;
  border-color: #444444;
}
.wrapword {
  white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  white-space: pre-wrap;       /* css-3 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  word-break: break-all;
  white-space: normal;
}
.hero-widget { 
  text-align: center; 
  padding-top: 10px; 
  padding-bottom: 10px; 
}
.hero-widget .icon { 
  display: block; 
  font-size: 56px; 
  line-height: 56px; 
  margin-bottom: 5px; 
  text-align: center; 
}
.hero-widget var { 
  display: block; 
  height: 30px; 
  font-size: 30px; 
  line-height: 30px; 
  font-style: normal; 
}
.hero-widget label { 
  font-size: 12px; 
}
.hero-widget .options { 
  margin-top: 10px; 
}
.alert-message
{
  padding: 20px;
  border-left: 3px solid #eee;
}
.alert-message h4
{
  margin-top: 0;
  margin-bottom: 5px;
}
.alert-message p:last-child
{
  margin-bottom: 0;
}
.alert-message-danger
{
  background-color: #fdf7f7;
  border-color: #d9534f;
}
.alert-message-danger h4
{
  color: #d9534f;
}
td.platform-logo {
  width: 170px; 
  vertical-align: middle !important;
  text-align: center !important;
}
.bs-wizard {margin-top: 40px;}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/