<ol class="breadcrumb">
  <li><%= link_to "Open calls", open_calls_path %></li>
  <li><%= link_to @open_call.name, open_call_path(@open_call) %></li>
  <li class="active"> Edit open call</li>
</ol>
<%= render :partial => "side_navigation" %>

<div class="col-lg-9">
  <%= render :partial => 'form' %>
</div>

