<ol class="breadcrumb thin-border">
  <li><%= link_to "Open calls", open_calls_path %></li>
  <li class="active">New open call</li>
</ol>
<div class="page-title">
  <h2>New open call</h2>
</div>
<%= render :partial => 'form' %>
