<ol class="breadcrumb">
  <li><%= link_to "Open calls", open_calls_path %></li>
  <li><%= link_to @open_call.name, open_call_path(@open_call) %></li>
  <li class="active"> Responses</li>
</ol>
<%= render :partial => "side_navigation" %>

<div class="col-lg-9">
  <div class="alert alert-info" role="alert">
    <h4>
      <i class="fa fa-exclamation-triangle"></i> Information
    </h4>
    <p>
      Page is under development!
    </p>
  </div>
</div>